.app-footer {
    position: absolute; 
    bottom: 0;
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content:space-evenly;
    background: #6c757d;
    color: white; 
    height: 40px; 
    z-index: 1050; 
}
